<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu laterale">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Rete meteo</span>
    <span class="example-spacer"></span>
    <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle value="temperatura" aria-label="Temperatura">
          <mat-icon>device_thermostat</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="pioggia" aria-label="Pioggia">
          <mat-icon>umbrella</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="vento" aria-label="Vento">
          <mat-icon>air</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="umidita" aria-label="Umidita">
          <mat-icon>water</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="pressione" aria-label="Pressione">
            <mat-icon>cloud</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
</mat-toolbar>