#view {
    padding-left: 200px;
}

#view.collapsed {
    padding-left: 50px;
}

.sidebar.v-sidebar-menu .vsm-arrow:after {
    content: "\f105";
    font-family: "FontAwesome";
}

.sidebar.v-sidebar-menu .collapse-btn:after {
    content: "\f07e";
    font-family: "FontAwesome";
}